<form [formGroup]="passwordSetForm" (ngSubmit)="onSubmit()">
  <!-- <pre>{{ passwordSetForm.value | json }}</pre> -->

  <div class="py-[25px] px-[30px] sm:max-w-xl md:max-w-md mx-auto sm:rounded-xl bg-white">

    <div class="mb-5">
      <button type="button" (click)="goBack()" class="text-[#595959]">
      <i class="icon-angle-left-long text-[12px] text-[#595959]"></i> Back
      </button>
    </div>

    <div class="flex items-center gap-4 mb-[30px]">

      <img [src]="selectedUserAccountList?.profilePicture ? selectedUserAccountList.profilePicture : 'images/default-user.png'" class="w-16 max-h-16 rounded-full" alt="">

      <div class="flex-1">
        <h3 class="text-[20px] font-medium">{{selectedUserAccountList.fullName}}</h3>
        <span class="text-base text-[#595959]">{{selectedUserAccountList.emailOrigin}}</span>
      </div>
    </div>

    <div class="max-w-xl mb-4">

      <label for="input-label" class="flex items-center justify-between text-[16px] mb-2 ">
        <span>Enter Your New Password</span>

        <div class="hs-tooltip [--placement:right] inline-block">
          <button type="button"
            class="hs-tooltip-toggle size-5 inline-flex justify-center items-center gap-2 rounded-full text-[#595959]">
            <span class="icon-info shrink-0 size-4" xmlns="http://www.w3.org/2000/svg"></span>
            <span
              class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block text-left w-[160px] h-auto absolute invisible z-10 py-1 px-2 bg-[#595959] text-xs font-medium text-[#fff] rounded shadow-sm "
              role="tooltip">
              Password must be 8 characters,
              including at least an uppercase,
              a lower case, a special character
              & a number.
            </span>
          </button>
        </div>
      </label>


      <!-- Password Strength Bar -->

      <div class="relative">
        <input type="password" id="hs-strong-password-with-minLength" formControlName="password"
          class="py-3 px-4 block w-full border border-gray-300 rounded-xl text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none "
          placeholder="" [ngClass]="{'border-red-500': passwordSetForm.get('password')?.dirty && passwordSetForm.get('password')?.invalid}"
          
        (input)="onPasswordInput($event)">

        <button type="button" data-hs-toggle-password='{
                          "target": "#hs-strong-password-with-minLength"
                        }'
          class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-none focus:text-neutral-600 ">
          <svg class="shrink-0 size-3.5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
            <path class="hs-password-active:hidden"
              d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
            <path class="hs-password-active:hidden"
              d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61">
            </path>
            <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"></line>
            <path class="hidden hs-password-active:block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
            <circle class="hidden hs-password-active:block" cx="12" cy="12" r="3"></circle>
          </svg>
        </button>
      </div>


      <!-- Password Strength Bar -->
      <div id="hs-strong-password-minLength" class="flex mt-2 -mx-1">
        <div class="h-2 flex-auto rounded-full mx-1" [ngClass]="barClass[0]"></div>
        <div class="h-2 flex-auto rounded-full mx-1" [ngClass]="barClass[1]"></div>
        <div class="h-2 flex-auto rounded-full mx-1" [ngClass]="barClass[2]"></div>
        <div class="h-2 flex-auto rounded-full mx-1" [ngClass]="barClass[3]"></div>
        <div class="h-2 flex-auto rounded-full mx-1" [ngClass]="barClass[4]"></div>
      </div>

    <div *ngIf="passwordSetForm.get('password')?.value">
      <div *ngIf="passwordStrength <= 2" class="text-right">
        <span class="text-[#E42D27] text-xs font-medium">Weak</span>
      </div>
      <div *ngIf="passwordStrength > 2 && passwordStrength <= 4" class="text-right">
        <span class="text-[#FF8000] text-xs font-medium">Average</span>
      </div>
      <div *ngIf="passwordStrength === 5" class="text-right">
        <span class="text-[#32A071] text-xs font-medium">Strong</span>
      </div>
    </div>

      <!-- End Strong Password -->
    </div>
    <div class="max-w-xl pb-[16px]">
      <label for="input-label" class="block text-[16px] mb-2 ">Re-enter Your Password</label>

      <div class="relative">

        <input type="password" id="input-label" formControlName="confirmPassword"
          class="py-3 px-4 block w-full border border-gray-300 rounded-xl text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none "
          placeholder="" [ngClass]="{'border-red-500': passwordSetForm.get('confirmPassword')?.dirty && passwordSetForm.get('confirmPassword')?.invalid}">

        <button type="button" data-hs-toggle-password='{
                                  "target": "#input-label"
                                }'
          class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-none focus:text-neutral-600 ">
          <svg class="shrink-0 size-3.5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
            <path class="hs-password-active:hidden"
              d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
            <path class="hs-password-active:hidden"
              d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61">
            </path>
            <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"></line>
            <path class="hidden hs-password-active:block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
            <circle class="hidden hs-password-active:block" cx="12" cy="12" r="3"></circle>
          </svg>
        </button>
      </div>

      <div *ngIf="errorMessage" class="text-red-500 text-sm pb-4">
        {{ errorMessage }}
      </div>
    </div>

    <div class="max-w-xl pb-[16px] flex justify-center gap-4">
      <button type="button" (click)="cancel()"
        class="py-[10px] flex-1 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-[#D1C7CD] text-[#757575] hover: focus:outline-1 focus:border-[#2F64A3] focus:text-[#2F64A3] disabled:opacity-50 disabled:pointer-events-none">
        Cancel
      </button>
      <button type="button" (click)="onSubmit()"
        class="py-[10px]  flex-1 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-transparent bg-[#008020] text-white hover:bg-[#008020d4] focus:outline-none focus:bg-green-700 disabled:opacity-50 disabled:pointer-events-none">
        Continue
      </button>
    </div>

    <div class="text-center mb-[20px]">
      <a class="text-base text-[#2F64A3]" href="https://mybdjobs.bdjobs.com/mybdjobs/signin.asp">Sign in to a
        different account</a>
    </div>
    <div class="text-center text-base">
      <p class="text-center text-base">Don't have an account? <a class="text-base font-medium text-[#2F64A3]"
          href="https://mybdjobs.bdjobs.com/createaccount.asp">Sign Up</a></p>
    </div>

  </div>
</form>