<div class="max-w-4xl md:mx-auto sm:py-12 min-h[90vh]">
  <div class="flex flex-col md:flex-row items-center">
    <div class="hidden md:block md:flex-1 h-full">
      <app-bdjobs-info [bdjobsInfo]="bdjobsInfo"></app-bdjobs-info>
    </div>
    <div class="overflow-hidden md:flex-1 w-full sm:max-w-xl md:px-5 ">
      <router-outlet></router-outlet>
      <!-- <app-find-account></app-find-account> -->
      <!-- <app-welcome></app-welcome> -->
      <!-- <app-password-set></app-password-set> -->
      <!-- <app-security-code></app-security-code> -->
      <!-- <app-choose-account></app-choose-account> -->
      <!-- <app-successful></app-successful> -->
      <!-- <app-access-account></app-access-account> -->
      <!-- <app-signin></app-signin> 
      <app-signin-with-password></app-signin-with-password> -->
    </div>
  </div>
</div>
