<div class="bg-[#263238] py-12">

  <div class="max-w-5xl container mx-auto">

    <div class="flex flex-col md:flex-row text-white justify-between px-[10px]">

      <div class="about-us ">

        <h2 class="text-lg mb-4 font-semibold">About Us</h2>

        <div class="flex flex-col">

          <a class="text-sm leading-[30px]" href="https://bdjobs.com/about.asp">About
            Bdjobs.com</a>

          <a class="text-sm leading-[30px]" href="https://bdjobs.com/tos.asp">Terms &amp;
            Conditions</a>

          <a class="text-sm leading-[30px]" href="https://jobs.bdjobs.com/Accessibility-Statement.asp"
            rel="noopener">Accessibility Statement</a>

          <button type="button" class="hs-collapse-toggle text-sm leading-[30px] inline-flex items-center gap-x-2"
            id="hs-basic-collapse" aria-expanded="false" aria-controls="hs-basic-collapse-heading"
            data-hs-collapse="#hs-basic-collapse-heading">
            Inteenational Partners
            <svg class="hs-collapse-open:rotate-180 shrink-0 size-4 text-white" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>
          <div id="hs-basic-collapse-heading"
            class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-basic-collapse">

            <div class="flex flex-col ">

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.brightermonday.com/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Brighter
                  Monday (Africa)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.catho.com.br/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Catho (Brazil)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.jobberman.com/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Jobberman (West Africa)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.jobsdb.com/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">jobsDB (S.E Asia)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.jobstreet.com/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">JobStreet (S.E Asia)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="https://www.jora.com/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Jora (World Wide)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="https://www.occ.com.mx/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">OCC (Mexico)
                  Mundial</span>
              </a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.seek.com.au/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">SEEK (Australia)
                  </span>
              </a>


              <a class="text-xs ml-[10px] leading-[30px]" href="https://www.workana.com"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Workana (Latin America)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.zhaopin.com/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Zhaopin (China)</span></a>


                   </div>

          </div>


          <button type="button" class="hs-collapse-toggle text-sm leading-[30px] inline-flex items-center gap-x-2"
            id="hs-basic2-collapse" aria-expanded="false" aria-controls="hs-basic2-collapse-heading"
            data-hs-collapse="#hs-basic2-collapse-heading">
            Other Partners

            <svg class="hs-collapse-open:rotate-180 shrink-0 size-4 text-white" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>

          <div id="hs-basic2-collapse-heading"
            class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-basic2-collapse">

            <div class="flex flex-col">

              <button type="button" id="hs-basic3-collapse" aria-expanded="true"
                class="hs-collapse-toggle text-xs ml-[10px] leading-[30px] inline-flex items-center gap-x-2 open"
                aria-controls="hs-basic3-collapse-heading" data-hs-collapse="#hs-basic3-collapse-heading"><span
                  class="icon-list-angle-right"></span><span class="ml-[2px]">AjkerDeal (Bangladesh)</span>

                <svg class="hs-collapse-open:rotate-180 shrink-0 size-4 text-white" xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
              </button>

              <div id="hs-basic3-collapse-heading" class="hs-collapse w-full overflow-hidden transition-[height] duration-300 open"
                aria-labelledby="hs-basic3-collapse">

                <div class="flex flex-col ml-6">

                  <a class="text-xs ml-[10px] leading-[30px]" href="https://ajkerdeal.com/"><span
                      class="icon-list-angle-right"></span><span class="ml-[10px]">
                      AjkerDeal</span></a>

                  <a class="text-xs ml-[10px] leading-[30px]" href="https://classified.ajkerdeal.com/"><span
                      class="icon-list-angle-right"></span>
                    <span class="ml-[10px]">Classified</span></a>

                </div>

              </div>


              <a class="text-xs ml-[10px] leading-[30px]" href="https://deliverytiger.com.bd/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Delivery
                  Tiger (Bangladesh)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="https://www.beshto.com/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Beshto (Bangladesh)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.aspiringminds.com/"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Aspiring Minds (India)</span></a>

            </div>

          </div>


          <a class="text-sm leading-[30px]" href="https://bdjobs.com/policy/Privacy_policy.asp">Privacy
            Policy</a>

          <a class="text-sm leading-[30px]" href="https://jobs.bdjobs.com/feedback.asp">Feedback</a>

          <a class="text-sm leading-[30px]" href="https://bdjobs.com/contact.asp">Contact Us</a>

        </div>

      </div>

      <div class="job-Seekers">

        <h2 class="text-lg mb-4 font-semibold mt-4 md
        :mt-0">Job Seekers</h2>

        <div class="flex flex-col">

          <a class="text-sm leading-[30px]" href="https://mybdjobs.bdjobs.com/createaccount.asp">Create Account</a>

          <a class="text-sm leading-[30px] relative"
            href="https://mybdjobs.bdjobs.com/mybdjobs/user-guide-for-video-resume.asp">Video CV
            <span
              class="absolute transform translate-x-1 border leading-3 pb-[2px] border-[#FF8000] rounded-full text-[#FF8000] text-[10px] px-2  ">new</span>
          </a>

          <a class="text-sm leading-[30px]" href="https://mybdjobs.bdjobs.com/">My Bdjobs Panel</a>

          <a class="text-sm leading-[30px]"
            href="https://mybdjobs.bdjobs.com/emailnotification/view_all_feature.asp">List of Features</a>

          <a class="text-sm leading-[30px]" href="https://bdjobs.com/career/counsel.asp">Career Counseling </a>

          <a class="text-sm leading-[30px]" href="https://mybdjobs.bdjobs.com/mybdjobs/videoHelp.asp">Video Guides</a>

          <a class="text-sm leading-[30px]" href="https://mybdjobs.bdjobs.com/mybdjobs/faq.asp#content-1">FAQ</a>

        </div>

      </div>

      <div class="recruiter ">

        <h2 class="text-lg mb-4 font-semibold mt-4 md:mt-0">Recruiter</h2>

        <div class="flex flex-col">

          <a class="text-sm leading-[30px]" href="https://corporate3.bdjobs.com/Corporate_NewAccount.asp">Create
            Account</a>

          <a class="text-sm leading-[30px]" href="https://corporate3.bdjobs.com/services.asp">Products/Service</a>

          <a class="text-sm leading-[30px]"
            href="https://corporate3.bdjobs.com/disability-inclusion-practices.asp">Disability Inclusion Practice</a>

          <a class="text-sm leading-[30px]" href="https://recruiter.bdjobs.com/jobposting/">Post a Job</a>

          <a class="text-sm leading-[30px]" href="https://corporate3.bdjobs.com/help/help.asp">FAQ</a>

          <a class="text-sm leading-[30px]" href="https://bdjobs.com/contact.asp">Contact Us</a>

          <h3 class="text-base font-medium my-[10px]">Download Employer App</h3>

          <a class="mb-[6px]" href="https://play.google.com/store/apps/details?id=com.bdjobs.recruiter">
            <img class="h-[36px]" src="images/google-play-badge.svg" alt="Download Employer App">
          </a>

          <a class="text-sm leading-[30px]" href="https://apps.apple.com/us/app/bdjobs-employer/id1479828492">
            <img class="h-[36px]" src="https://bdjobs.com/icons/App-Store-Badge.svg" alt="Download Employer App iOS">
          </a>

        </div>

      </div>

      <div class=" social-media ">

        <h2 class="text-lg mb-4 font-semibold mt-4 md:mt-0">Tools & Social Media</h2>

        <div class="flex flex-col">

          <a class="text-sm leading-[30px] flex items-center justify-start" href="https://bdjobs.com/apps/"><img
              class="h-[18px] mr-[5px]" src="https://bdjobs.com/icons/bdjobs-android-app-color.svg" alt="app"><span
              class="  ">Bdjobs Android
              App</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start"
            href="https://bdjobs.com/apps/ios/index.html"><img class="h-[18px] mr-[5px]"
              src="https://bdjobs.com/icons/bdjobs-android-app-color.svg" alt="app iOS"><span class="  ">Bdjobs iOS
              App</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start"
            href="https://www.facebook.com/mybdjobs"><img class="h-[18px] mr-[5px]"
              src="https://bdjobs.com/icons/facebook-color.svg" alt="social link fb"><span
              class="  ">Facebook</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start" href="https://b.bdjobs.com/google-page"><img
              class="h-[18px] mr-[5px]" src="https://bdjobs.com/icons/google-plus-color-new.svg"
              alt="social link googleplus"><span class="  ">Google</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start" href="https://www.youtube.com/mybdjobs"><img
              class="h-[18px] mr-[5px]" src="https://bdjobs.com/icons/youtube-color.svg" alt="social link youtube"><span
              class="  ">Youtube</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start"
            href="https://linkedin.com/company/mybdjobs"><img class="h-[18px] mr-[5px]"
              src="https://bdjobs.com/icons/linkedin-color.svg" alt="social link li"><span
              class="  ">LinkedIn</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start"
            href="https://www.instagram.com/mybdjobs/"><img class="h-[18px] mr-[5px]"
              src="https://bdjobs.com/images/instagram-color.svg" alt="social link Instagram"><span
              class="  ">Instagram</span></a>

          <h3 class="text-base font-medium my-[10px]">Download Mobile App</h3>

          <div class="flex items-center justify-start gap-1">

            <a class="mb-[6px]" href="https://play.google.com/store/apps/details?id=com.bdjobs.recruiter">
              <img class="h-[36px]" src="images/google-play-badge.svg" alt="Download Employer App">
            </a>

            <a class="mb-[6px]" href="https://appgallery.huawei.com/#/app/C101426113">
              <img class="h-[36px]" src="images/appgallery.svg" alt="Download Employer App">
            </a>

          </div>

          <a class="text-sm leading-[30px]" href="https://apps.apple.com/us/app/bdjobs-employer/id1479828492">
            <img class="h-[36px]" src="https://bdjobs.com/icons/App-Store-Badge.svg" alt="Download Employer App iOS">
          </a>

        </div>

      </div>
    </div>


  </div>

</div>
