<!-- <div class="mx-8">
  <h2 class=" text-3xl font-bold mb-4">{{bdjobsInfo.title}}</h2>
  <div class="flex flex-col gap-2">
    @for (item of bdjobsInfo.content; track $index) {
    <p class=" text-lg ">{{item.text}}</p>
    }
  </div>
</div> -->


<div class="mx-8">
  <h2 class=" text-[20px] font-semibold mb-5">With My Bdjobs account, you can manage your profile</h2>

  <div class="border-b-4 border-[#2f64a3] w-[48px]"></div>



  <div class="mt-10">

    <div class="flex items-center justify-start mb-5">

      <div
        class="border rounded-full bg-[#ef5350] h-16 w-16 p-4 text-[30px] text-white text-center flex items-center justify-center">
        <span class="icon-file-cog"></span></div>

      <h3 class="ml-[30px] text-base text-[#424242] font-medium">Customizing a Resume is easier than never before.</h3>

    </div>

    <div class="flex items-center justify-start  mb-5">

      <div
        class="border rounded-full bg-[#2196f3] h-16 w-16 p-4 text-[30px] text-white text-center flex items-center justify-center">
        <span class="icon-certified-badge"></span>
      </div>

      <h3 class="ml-[30px] text-base text-[#424242] font-medium">Achieve an internationally recognized certificate.</h3>

    </div>

    <div class="flex items-center justify-start  mb-5">

      <div
        class="border rounded-full bg-[#4caf50] h-16 w-16 p-4 text-[30px] text-white text-center flex items-center justify-center">
        <span class="icon-envelope"></span>
      </div>

      <h3 class="ml-[30px] text-base text-[#424242] font-medium">Email your resume to employers with just one click.</h3>

    </div>

    <div class="flex items-center justify-start  mb-5">

      <div
        class="border rounded-full bg-[#fbc02d] h-16 w-16 p-4 text-[30px] text-white text-center flex items-center justify-center">
        <span class="icon-file-lock"></span></div>

      <h3 class="ml-[30px] text-base text-[#424242] font-medium">Manage your resume privacy settings.</h3>

    </div>

    <div class="flex items-center justify-start  mb-5">

      <div
        class="border rounded-full bg-[#b32d7d] h-16 w-16 p-4 text-[30px] text-white text-center flex items-center justify-center">
        <span class="icon-job-seeker-app"></span>
      </div>

      <h3 class="ml-[30px] text-base text-[#424242] font-medium">Apply to jobs through bdjobs app from anywhere, anytime.</h3>

    </div>

  </div>
